@import url(./index.css);

@font-face {
    font-family: 'Altone Trial';
    src: url(../assets/fontes/Altone\ Trial-Regular.ttf);
}

@font-face {
    font-family: 'DMSans';
    src: url(../assets/fontes/DMSans-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --fontePrincipal: "DMSans";
    --fonteSecundaria: "Altone Trial";
    --cor00: #000;
    --cor01: #000DFF;
    --cor02: #FF5A13;
    --cor03: #0fc4c49d;
    --cor04: #A49EA6;
    --cor05: #a49ea67e;
    --cor06: #171b63;
}

.caracterEspecial{
    font-family: var(--fontePrincipal);
}

.medida{
    width: 100%;
    height: 110vh;
    border: 1px solid red;
}

html { scroll-behavior: smooth; }

.secao-mobile{
    display: none;
}