footer{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    width: 400px;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 20px;
    text-align: center;
    color: var(--cor01);
    border: 2px solid var(--cor01);
    font-family: var(--fontePrincipal);
}