@media screen and (min-width: 481px) and (max-width: 1034px){
    .painel-desenvolvedor{
        display: none;
    }

    .secao-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .bloco{
        scale: 1.4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .imagem-redes{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 320px;
        height: 100px;
    }

    .imagem-redes img{
        scale: 0.9;
        margin-left: -23px;
    }

    .redes-mobile{
        width: 70px;
        height: 70px;
        border-radius: 25px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--cor01);
        background-color: #fff;
        border: 1px solid var(--cor01);
    }

    .secao-mobile h2{
        width: 60%;
        margin-left: 35px;
        margin-top: 40px;
        font-family: var(--fontePrincipal);
        font-size: 1.4rem;
        background: linear-gradient(65deg , var(--cor03)2%, var(--cor01), var(--cor02) 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;    
    }

    .secao-01, .secao-02, .secao-03{
        width: 100%;
    }

    .secao-01 p{
        font-size: 1.8;
        width: 80%;
    }

    .h2-section-01{
        width: 80%;
        text-align: center;
    } 

    .secao-02{
        height: 107vh;
        flex-direction: column-reverse;
    }

    article{
        width: 85%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #tecnologias{
        width: 500px;
        scale: 1;
    }

    .scroll-projetos{
        width: 80%;
    }

    .projeto{
        scale: 1;
    }
    
}