@media screen and (min-width: 481px) and (max-width: 1034px){
    *{
        margin: 0;
        padding: 0;
    }
    .painel-desenvolvedor, .projeto{
        display: none;
    }

    header{
        border: 1px solid red;
    }

    .secao-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        border: 1px solid red;
    }

    .bloco{
        scale: 1.4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .imagem-redes{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 320px;
        height: 100px;
    }

    .imagem-redes img{
        scale: 0.9;
        margin-left: -23px;
    }

    .redes-mobile{
        width: 70px;
        height: 70px;
        border-radius: 25px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--cor01);
        background-color: #fff;
        border: 1px solid var(--cor01);
    }

    .secao-mobile h2{
        width: 60%;
        margin-left: 35px;
        margin-top: 40px;
        font-family: var(--fontePrincipal);
        font-size: 1.4rem;
        background: linear-gradient(65deg , var(--cor03)2%, var(--cor01), var(--cor02) 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;    
    }

    .secao-01, .secao-02, .secao-03{
        width: 100%;
        border: 1px solid red;
    }

    .secao-01 p{
        font-size: 1.8rem;
        text-align: center;
        width: 80%;
    }

    .h2-section-01{
        width: 80%;
        text-align: center;
    } 

    .secao-02{
        height: 107vh;
        flex-direction: column-reverse;
    }

    article{
        width: 85%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid red;
    }

    #tecnologias{
        width: 500px;
        scale: 1;
        border: 1px solid red;
    }

    .h2-titulo-secao{
        border: 1px solid red;
    }

    .espaco-projetos{
        width: 100%;
        height: 60rem;
        flex-direction: column;
    }

    .projeto-smartphone{
        width: 35rem;
        height: 10rem;
        margin: 10px 0px 10px 0px;
        display: flex;
        border: 1px solid red;
    }

    .imagem-smartphone, .informacao-projeto-smartphone{
        width: 280px;
        border: 1px solid red;
    }

    .h2-projeto-smartphone{
        font-family: var(--fontePrincipal);
        margin: 20px 0px 10px 5px;
        font-size: 1.2rem;
    }

    .p-projeto-smartphone{
        font-family: var(--fonteSecundaria);
        margin: 10px 0px 10px 5px;
        font-size: 0.5;
        color: var(--cor04);
    }

    footer{
        border: 1px solid red;
    }

}