@media screen and (min-width: 1400px){
  
  .secao-01, .secao-02, secao-03{
    border: 1px solid red;
    height: 107vh;
  }
  .h2-section-01, .secao-01 p{
    font-size: 2rem;
  }

  #tecnologias{
    width: 400px;
  }
  .icone-tecnologia{
    width: 130px;
    height: 130px;
    font-size: 3rem;
  }

  .h4-article, .p-article{
    font-size: 2rem;
  }
  
  footer p{
    scale: 1.2;
  }

  .h2-projetos-secao{
    font-size: 2rem;
  }
  
  .projeto{
    scale: 2.2;
  }

}
