@media screen and (max-width: 480px){
    .painel-desenvolvedor, .secao-03{
        display: none;
    }

    header{
        width: 100%;
        height: 80px;
    }
    ul{
        width: 100%;
    
    }
    ul li{
        font-size: 0.9rem;
    }

    .secao-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        border: 1px solid red;
    }

    .imagem-redes{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 320px;
        height: 100px;
        margin-top: 140px;
    }

    .imagem-redes img{
        scale: 0.5;
    }

    .redes-mobile{
        width: 70px;
        height: 70px;
        border-radius: 25px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #fff;
        background-color: var(--cor01);
    }

    .secao-mobile h2{
        margin-left: 35px;
        margin-top: 20px;
        font-family: var(--fontePrincipal);
        font-size: 1.4rem;
        background: linear-gradient(65deg , var(--cor03)2%, var(--cor01), var(--cor02) 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    .secao-01{
        height: 50vh;
    }
    .secao-01 p{
        width: 350px;
        font-size: 1rem;
    }

    .h2-section-01{
        width: 350px;
        font-size: 1.2rem;
    }

    .secao-02{
        flex-direction: column-reverse;
        height: 70vh;
        border: 1px solid red;
    }

    article{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .secao-02 .h2-article{
        width: 350px;
        font-size: 1.2rem;
    }

    .secao-02 .p-article{
        width: 350px;
        font-size: 1rem;
    }

    #tecnologias{
        width: 80%;
    }

    .icone-tecnologia{
        width: 58px;
        height: 58px;
        font-size: 1.2rem;
    }

    footer div{
        width: 270px;
        font-size: 0.7rem;
    }
}