/* estilização da primeira parte do projeto */
.painel-desenvolvedor{
    margin-bottom: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
}

.gradiente-bg{
    max-width: 1600px;
    width: 80%;
    height: 450px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(-160deg, #FF5A13, #000DFF, #0fc4c49d);
}

#boas-vindas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    left: 55%;
    top: 30%;
    width: 100%;
}

@keyframes hello{
    0%, 100%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0);
    }
}

#h4-imagem{
    display: flex;
    width: 420px;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin-left: 24%;
}

#h4-imagem h4{
    width: fit-content;
    font-family: var(--fontePrincipal);
    margin-top: 20px;
}

#h4-imagem img{
    scale: 0.2;
    animation-name: hello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;

}
#h4-imagem{
    font-size: 1.5rem;
    color: #fff;
}

#nome-desenvolvedor h1{
    font-size: 4rem;
    width: 440px;
    font-family: var(--fontePrincipal);
    color: #fff;
    margin-left: 35%;
}

#area-desenvolvedor{
    color: #fff;
    font-size: 1.5rem;
    margin-left: -120px;
    margin-top: 5px;
    text-align: left;
    font-family: var(--fontePrincipal);
    margin-left: 13.3%;
}

.redes-desenvolvedor{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: -20px;
}

.redes{
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    color: var(--cor01);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.redes:hover{
    transition: .2s;
    background-color: #f0ebeb;
}

.imagem-desenvolvedor{
    width: 351px;
    height: 344px;
    scale: 0.7;
    background-image:url(../assets/img/Rectangle\ 28.png);
    background-size: cover;
    position: absolute;
    top: 450px;
    left: 170px;
}
