/* estilização da primeira parte do projeto */
.painel-desenvolvedor{
    margin-bottom: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.gradiente-bg{
    width: 1100px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(-160deg, #FF5A13, #000DFF, #0fc4c49d);
}

#boas-vindas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    left: 55%;
    top: 30%;
    width: 60%;
}

@keyframes hello{
    0%, 100%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0);
    }
}

#h4-imagem{
    display: flex;
    width: 50%;
    margin-right: 20rem;
    align-items: center;
    justify-content: center;
    height: 55px;
}

#h4-imagem #h4-ola{
    width: 10rem;
    font-family: var(--fontePrincipal);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
    color: #fff;
}

#h4-imagem #div-imagem{
    scale: 0.145;
    animation-name: hello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#nome-desenvolvedor h1{
    font-size: 4rem;
    width: 450px;
    margin-left: -197px;
    font-family: var(--fontePrincipal);
    color: #fff;
}

#area-desenvolvedor{
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    margin: 5px 0px 0px 12px;
    font-family: var(--fontePrincipal);
}

.redes-desenvolvedor{
    width: 100px;
    margin-left: -549px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px ;
}

.redes{
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    color: var(--cor01);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.redes:hover{
    transition: .2s;
    background-color: #f0ebeb;
}

.imagem-desenvolvedor{
    width: 310px;
    height: 344px;
    scale: 0.7;
    background-image:url(../assets/img/imagemDesenvolvedor-02.png);
    background-size: cover;
}
