.secao-02{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#tecnologias{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.icone-tecnologia{
    width: 96px;
    height: 96px;
    background-color: var(--cor01);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 2.4rem;
}

article{
    width: 600px;
}

.h2-article{
    font-size: 2rem;
    color: var(--cor01);
    margin-bottom: 25px;
    font-family: var(--fonteSecundaria);
}

.p-article{
    font-weight: 500;
    font-size: 1.7rem;
    font-family: var(--fontePrincipal);
}