/* Estilização da #secao02 */
#centralizarHabilidades{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#habilidadesDesenvolvedor{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#habilidadesDesenvolvedor-bottom{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.descricaoTecnologia{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.descricaoTecnologia p{
    font-family: var(--fonteSecundaria);
    font-size: 1.2rem;
}

.tecnologias{
    width: 100px;
    height: 100px;
    background-color: #000DFF;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.7s;
}

#sobreTecnologias{
    width: 60%;
    font-family: var(--fonteSecundaria);
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}