/* Estilização da #secao01 */
#imagemDesenvolvedor img{
    scale: 0.7;
    border-radius: 0px 70px 70px 0px;
    border: 4px solid #000DFF;
}

#sobreDesenvolvedor{
    width: 80%;
    font-family: var(--fonteSecundaria);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 80px;
    margin-bottom: 30px;
}

.caracterEspecial{
    font-family: var(--fontePrincipal);
    font-weight: 700;
    color: var(--cor01);
}