/* estilização da seção04 */
#centralizarRedes{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redes{
    width: 70%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor01);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .6s;
}

.redes:hover{
    transition: .6s;
    color: var(--cor01);
    background-color: #fff;
    box-shadow: 0px 4px 4px #d4d3d3;
}

.redes:hover div{
    transition: .6s;
    color: var(--cor01);
}

.redes div{
    color: #fff;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    transition: .6s;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}

.redes p{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonteSecundaria);
    font-size: 1.2rem;
}