
.funcoes{
    width: 100%;
    height: 600px;
    display: flex;
    overflow-x: auto ;
    margin-top: 50px;
}

.funcoes::-webkit-scrollbar{
    width: 0px;
}

.projetos{
    min-width: 255px;
    max-height: 460px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #00000028;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    border-radius: 20px 20px 0px 0px;
}

.imagemProjeto{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

.imagemProjeto img{
    scale: 0.7;
}

.tituloProjeto{
    margin-top: 20px;
    font-family: var(--fontePrincipal);
}

.descricaoProjeto{
    font-family: var(--fonteSecundaria);
    font-size: 0.9rem;
    width: 100%;
    height: 35%;
    margin-top: 20px;
}

.fontePrincipal{
    font-family: var(--fontePrincipal);
}

.botaoProjeto{
    border: none;
    color: #fff;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--cor01);
    font-family: var(--fonteSecundaria);
}

.textoProjetos{
    width: 80%;
    font-family: var(--fonteSecundaria);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 80px;
    margin-bottom: 30px;
}

.contornoImagem{
    border: 2px solid var(--corModoDark);
    border-radius: 30px;
}