/* estilização da primeira parte do projeto */
.gradiente-bg{
    max-width: 1600px;
    width: 80%;
    height: 600px;
    margin-top: 75px;
    border: 1px solid red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 120px;
    margin-right: 100px;
    background: linear-gradient(-60deg, #0fc4c49d, #000DFF, #FF5A13 );
}

#boas-vindas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    border: 1px solid red;
    position: relative;
    left: 55%;
    top: 30%;
    width: 450px;
}

@keyframes hello{
    0%, 100%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0);
    }
}

#h4-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 450px;
    height: 55px;
}

#h4-imagem h4{
    margin-left: -45px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

#h4-imagem img{
    scale: 0.2;
    /* border: 1px solid red; */
    animation-name: hello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
#h4-imagem{
    font-size: 1.5rem;
    color: #fff;
}

#nome-desenvolvedor h1{
    font-size: 4rem;
    font-family: var(--fontePrincipal);
    color: #fff;
}

#area-desenvolvedor{
    color: #fff;
    font-size: 1.5rem;
    margin-left: -160px;
    margin-top: 5px;
    text-align: left;
    font-family: var(--fontePrincipal);
    /* border: 1px solid red; */
}

.imagem-desenvolvedor{
    width: 270px;
    height: 270px;
    border-radius: 100%;
    background-color: blue  ;
    position: relative;
    top: 50%;
    left: 15%;
    /* border: 1px solid red; */
}
