*{
    margin: 0;
}
@font-face {
    font-family: 'Altone Trial';
    src: url(fontes/Altone\ Trial-Regular.ttf);
}

@font-face {
    font-family: 'DMSans';
    src: url(fontes/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
    --fontePrincipal: "DMSans";
    --fonteSecundaria: "Altone Trial";
    --cor00: #000;
    --cor01: #000DFF;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 60px;
    /* box-shadow: 0px 0px 6px #38383848; */
}

ul{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 25px;
}

ul li{
    margin-left: 50px;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: lighter;
    transition:  ease-in-out .2s;
    font-family: 'Altone Trial';
}

ul a{
    text-decoration: none;
    color: var(--cor00);
}

ul a:hover{
    color: var(--cor01);
    transition:  ease-in-out.2s;
}

.medida{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
}

#tituloMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio{
    border: 1px solid red;
    margin-right: 260px;
    font-family: 'DMSans';
    font-size: 3rem;
}

#desenvolvedor{
    border: 1px solid red;
    margin-left: 260px;
    font-family: 'Altone Trial';
    font-size: 2.5rem;
}

#desenvolvedor span{
    font-family: 'DMSans';
    font-weight: 200;
}
footer{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rodapeProjeto{
    border: 1px solid  red;
    padding: 15px;
    width: fit-content;
    border-radius: 35px;
    font-family: var(--fontePrincipal);
    font-weight: bold;

}