@import url(assets/css/index.css);

@font-face {
    font-family: 'Altone Trial';
    src: url(assets/fontes/Altone\ Trial-Regular.ttf);
}

@font-face {
    font-family: 'DMSans';
    src: url(assets/fontes/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
    --fontePrincipal: "DMSans";
    --fonteSecundaria: "Altone Trial";
    --cor00: #000;
    --cor01: #000DFF;
    --cor02: #FF5A13;
    --cor03: #0fc4c49d;
    --corModoDark: #222222;
}

#habilidadesTabletMobile, #imagemTabletMobile, #mobileTablet{
    display: none;
}

/* Inicio da medida para tablets */
@media screen and (min-width: 481px) and (max-width:1000px){
    header{
        display: none;
    }
}
/* -------------------------------- Fim da estilização da medida para tablets */


/* Inicio da medida para smartphones */
@media screen and (max-width:480px){
    header, #imagemDesktop, .quadrado,
    #habilidadesDesenvolvedor, #habilidadesDesenvolvedor-bottom{
        display: none;
    }

    .medida{
        height: 110dvh;
    }

    #mobileTablet{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
    }
    .secoes a{
        color: var(--cor01);
        font-weight: 200;
        font-size: 0.8rem;
        text-decoration: none;
        font-family: var(--fonteSecundaria);
    }

    .modoTela{
        display: flex;
        position: fixed;
        top: 0;
        left: 150px;
        border: 1px solid red;
    }

    /*  */
    #tituloMain{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #portfolio{
        font-size: 2rem;
        margin-right: 0;
    }
    #desenvolvedor{
        font-size: 1.7rem;
        margin-left: 0;
        margin-bottom: 0;
        margin-bottom: 150px;
    }

    #paletaCores{
        height: 5px;
    }
    /*  */

    #secao01{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #imagemDesenvolvedor #imagemTabletMobile{
        display: flex;
        border: none;
        border-radius: 0;
    }

    #sobreDesenvolvedor{
        width: 80%;
        height: fit-content;
        margin-left: 0;
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        color: #3a3838;
        border: 1px solid red;
    }
    /*  */
    #secao02{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #centralizarHabilidades #habilidadesTabletMobile{
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        align-items: center;
        justify-content: center;
    }

    .descricaoTecnologia{
        scale: 0.8;
    }

    #sobreTecnologias{
        width: 90%;
        margin-left:0;
        margin-top: 120px;
        font-size: 1rem;
        font-weight: bold;
        color: #3a3838;
        border: 1px solid red;
    }
    /*  */

    .redes{
        width: 80%;
        height: 170px;
        flex-direction: column;
    }

    .redes:hover{
        transition: .6s;
    }

    .redes div{
        font-size: 3rem;
    }

    .redes p{
        width: fit-content;
        height: fit-content;
    }
    /*  */

    footer{ height: 15rem; }
    
    #rodapeProjeto{
        scale: 0.8;
        text-align: center;
    }
}
/* -------------------------------- Fim da estilização da medida  para smartphones */
