@import url(index.css);

@font-face {
    font-family: 'Altone Trial';
    src: url(assets/fontes/Altone\ Trial-Regular.ttf);
}

@font-face {
    font-family: 'DMSans';
    src: url(assets/fontes/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
    --fontePrincipal: "DMSans";
    --fonteSecundaria: "Altone Trial";
    --cor00: #000;
    --cor01: #000DFF;
    --cor02: #FF5A13;
    --cor03: #0fc4c49d;
    --corModoDark: #222222;
}

#habilidadesTabletMobile, #imagemTabletMobile, #mobileTablet, .redesMobile{
    display: none;
}

/* Inicio da medida para tablets */
@media screen and (min-width: 481px) and (max-width:1000px){
    header{
        display: none;
    }
}
/* -------------------------------- Fim da estilização da medida para tablets */


/* Inicio da medida para smartphones */
@media screen and (max-width:480px){
    header, #imagemDesktop, .redes, #secao04,
    .quadrado, #habilidadesDesenvolvedor, 
    #habilidadesDesenvolvedor-bottom{ display: none; }

    .medida{
        height: 106vh;
    }

    #mobileTablet{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #minhasRedes{ /*id #minhasRedes está na div mobileTablet, referente ao link da secao04. Esse link só aparecerá em tablets e desktop*/
        display: none;
    }

    .secoes a{
        font-weight: 200;
        font-size: 0.8rem;
        color: var(--cor01);
        text-decoration: none;
        font-family: var(--fonteSecundaria);
    }

    .funcionalidadesMobile{
        top: 89%;
        left: 72px;
        width: 230px;
        height: 60px;
        z-index: 1; /*propriedade para fazer com que um elemento possa sobrepor outro com um z-index menor*/
        display: flex; 
        position: fixed;
        align-items: center;
        border-radius: 20px;
        border: 1px solid #000DFF;
        background-color: #fffcfc5b;
        justify-content: space-evenly;
    }

    .setaInicio{
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
        background: linear-gradient(65deg, #000DFF, #0fc4c49d);
    }

    .modoDarkLight{
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        background: linear-gradient(65deg, #000DFF, #0fc4c49d);
        transition: .6s;
    }

    .botaoModoDarkLight{
        width: 30px;
        height: 30px;
        transition: .6s;
        margin-left: 5px;
        border-radius: 20px;
        background-color: #fff;
    }

    .modoDarkLight.darkMobile{
        background: linear-gradient(65deg, #FF5A13, #000);
        transition: .6s;
        border: none;
    }
    .modoDarkLight.darkMobile .botaoModoDarkLight{
        transition: .6s;
        margin-left: 55px;
        background-color: #fff;
        border: none;
    }

    /* estilizacao darkMobile -> body e cabeçalho mobile */
    body.darkMobile{
        background-color: var(--corModoDark);
    }
    
    body.darkMobile p{
        color: #fff;
        transition: .5s;
    }
    body.darkMobile span{
        color: var(--cor02);
        transition: .5s;
    }
    
    body.darkMobile a{
        color: #fff;
        transition:  ease-in-out .3s;
    }
    
    body.darkMobile a:hover{
        color: var(--cor02);
        transition:  ease-in-out .3s;
    }
    /*  */

    body.darkMobile .setaInicio{
        background: linear-gradient(65deg, #FF5A13, #000);

    }

    body.darkMobile .funcionalidadesMobile{
        border: none;
        background-color: #0000004b;
    }

    body.darkMobile #portfolio{
        background: linear-gradient(to left,var(--cor02), var(--cor01));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    body.darkMobile #desenvolvedor{
        background: linear-gradient(to left,var(--cor02), var(--cor01));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    body.darkMobile .tecnologias{
        background-color: #fff;
        color: var(--corModoDark);
    }

    body.darkMobile .linkRedes{
        color: var(--cor02);
        border: 1px solid var(--cor02);
        background-color: transparent;
    }
    /* estilo darkMobile -> projetos */
    body.darkMobile .projetos{
        background-color: var(--corModoDark);
        border: 2px solid var(--cor02);
    }
    
    body.darkMobile .tituloProjeto{
        color: #fff;
    }
    
    body.darkMobile .botaoProjeto{
        background-color: var(--cor02);
    }

    body.darkMobile .contornoImagem{
        border: 2px solid var(--cor02);
    }

    /* estilo darkMobile -> footer */
    
    body.darkMobile #rodapeProjeto{
        border: 1px solid var(--cor02);
    } 
    
    body.darkMobile #rodapeProjeto p{
        color: var(--cor02);
    } 
    
    /*  */

    #tituloMain{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #portfolio{
        font-size: 2.5rem;
        margin-right: 0;
    }
    
    #desenvolvedor{
        font-size: 1.9rem;
        margin-left: 0;
        margin-bottom: 0;
        margin-bottom: 150px;
    }

    #paletaCores{
        height: 5px;
        margin-top: 25px;
    }
    
    /*  */

    #secao01{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .imagemTabletMobile{
        scale: 0.8;
        display: flex;
        width: 250px;
        height: 350px;
        z-index: 100;
        background-size: cover;
        background-image: url(assets/img/imagemPerfilMobile.png);
    }

    .redesMobile{
        width: 250px;
        height: 150px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-evenly;
    }

    .linkRedes{
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #fff;
        background-color: var(--cor01);
        border-radius: 15px;
        box-shadow: 0px 2px 4px #0000007a;
    }

    #sobreDesenvolvedor{
        width: 80%;
        height: fit-content;
        margin-left: 0;
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        color: #3a3838;
    }
    /*  */

    #secao02{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #centralizarHabilidades #habilidadesTabletMobile{
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        align-items: center;
        justify-content: center;
    }

    .descricaoTecnologia{
        scale: 0.8;
    }

    #sobreTecnologias{
        width: 90%;
        margin-left:0;
        color: #3a3838;
        font-size: 1rem;
        margin-top: 140px;
        font-weight: bold;
    }
    /*  */
    #secao03{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .textoProjetos{
        width: 80%;
        height: fit-content;
        margin-left: 0;
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        color: #3a3838;
    }

    /*  */

    footer{ height: 15rem; }
    
    #rodapeProjeto{
        scale: 0.8;
        text-align: center;
    }
}
/* -------------------------------- Fim da estilização da medida  para smartphones */
